*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: black;
  font-family: "Nunito", sans-serif;
  color: #777;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh 40vw min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 40px;
    font-size: 3rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #faf9f9;
  line-height: 1;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-1--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    line-height: 1.7; }
  .heading-1--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.3rem; }
  .heading-1--desc {
    color: yellow; }
  .heading-1--sche {
    text-transform: uppercase;
    letter-spacing: .8rem;
    font-size: 4rem;
    font-weight: 700; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #faf9f9; }
  .heading-2--dark {
    color: #333; }
  .heading-2--sche {
    color: yellow;
    text-transform: uppercase;
    letter-spacing: .8rem;
    font-size: 8rem;
    font-weight: 700; }
  .heading-2--dash {
    line-height: 1rem;
    margin-bottom: 5rem; }

.heading-3 {
  font-size: 1.6rem;
  color: #eb2f64;
  text-transform: uppercase; }
  .heading-3--desc {
    font-size: 2.5rem;
    font-weight: 700; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #faf9f9; }
  .heading-4--dark {
    color: #333; }

.btn {
  background-color: #eb2f64;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 3rem;
  border-radius: .4rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #BA265D; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  background-color: rgba(100, 100, 100, 0.9);
  grid-column: full-start / full-end;
  position: relative; }
  .header__text-box {
    display: grid;
    align-content: center;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.main-nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  align-items: center;
  justify-items: center;
  max-width: 100rem;
  margin: 0 auto 0; }
  .main-nav__item {
    width: fit-content; }
  .main-nav__link:link, .main-nav__link:visited {
    font-size: 1.6rem;
    font-weight: 400;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5rem 0;
    display: block;
    position: relative;
    transition: all .2s; }
  .main-nav__link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #FFFF00;
    transition: width .2s ease;
    -webkit-transition: width .2s ease; }
  .main-nav__link:hover:after {
    width: 100%;
    left: 0;
    background: #FFFF00; }
  .main-nav__logo {
    width: 100px;
    color: #fff; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.description {
  background-color: #BA265D; }
  .description__content {
    grid-column: center-start / col-end 4;
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 2vw; }
    .description__content p {
      margin-bottom: 5rem; }
  .description__pictures {
    grid-column: col-start 5 / center-end;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-gap: 4rem;
    padding: 20rem 3vw; }
  .description__img--1 {
    width: 100%; }
  .description__img--2 {
    width: 100%; }
  .description__img--3 {
    width: 100%; }
  .description__img--4 {
    width: 100%; }

.features {
  background-color: aqua;
  grid-column: full-start / full-end;
  height: 100vh;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5rem; }
  .features__heading {
    background-color: #3cb371;
    grid-column: center-start / col-end 4;
    grid-row: 1 / -1; }
  .features__description {
    background-color: #0000ff;
    grid-column: col-start 5 / center-end;
    grid-row: 1 / 2; }
  .features__music {
    background-color: #6a5acd;
    grid-column: col-start 5 / col-end 6;
    grid-row: 2 / 3; }
  .features__whats {
    background-color: #ee82ee;
    grid-column: col-start 7 / center-end;
    grid-row: 2 / 3; }

.schedule {
  grid-column: full-start / full-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/back-schedule.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-schedule.jpg);
  background-size: cover;
  color: #faf9f9;
  background-attachment: fixed; }
  .schedule__heading {
    margin-top: 15rem;
    margin-left: 20rem; }
  .schedule__table {
    margin-left: 20rem;
    background: linear-gradient(to right, #ef5241 0%, #df2674 100%);
    max-width: 70rem;
    padding: 5rem;
    text-align: center;
    margin-bottom: 15rem; }
    .schedule__table--details {
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding: 3rem;
      justify-content: space-around;
      font-size: 2.5rem;
      border-bottom: 3px solid #f4f2f2; }
      .schedule__table--details ul {
        list-style: none; }
        .schedule__table--details ul li:not(:last-child) {
          border-bottom: 1px solid #f4f2f2; }
    .schedule__table--text {
      font-size: 2.3rem;
      margin-bottom: 3rem; }

.gallery {
  background-color: #333;
  grid-column: full-start / full-end; }

.footer {
  background-color: yellow; }
