*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 40px;
    font-size: 3rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-1--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    line-height: 1.7; }
  .heading-1--sub {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.3rem; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  background-color: rgba(100, 100, 100, 0.9);
  grid-column: full-start / col-end-6;
  position: relative; }
  .header__text-box {
    display: grid;
    align-content: center;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.main-nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  align-items: center;
  justify-items: center;
  max-width: 100rem;
  margin: 0 auto 0; }
  .main-nav__item {
    width: fit-content; }
  .main-nav__link:link, .main-nav__link:visited {
    font-size: 1.6rem;
    font-weight: 400;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5rem 0;
    display: block;
    position: relative;
    transition: all .2s; }
  .main-nav__link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #FFFF00;
    transition: width .2s ease;
    -webkit-transition: width .2s ease; }
  .main-nav__link:hover:after {
    width: 100%;
    left: 0;
    background: #FFFF00; }
  .main-nav__logo {
    width: 100px;
    color: #fff; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.description {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  background-color: #aaa;
  grid-column: center-start / center-end; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-srt / col-end 4; }

.story__content {
  background-color: #aaa;
  grid-column: col-end 5 / full-end; }

.schedule {
  background-color: #101d2c;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #54483A;
  grid-column: full-start / full-end; }

.footer {
  background-color: #101d2c; }
