// COLOR VARIABLES
$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;
$color-primary-darker: #a32453;

$color-secondary: #FBFF00;
$color-secondary-light: #FDFF99;

$color-background: #000000;

$color-gradient: linear-gradient(to right,#ef5241 0%, #df2674 100%);
$color-gradient-2: linear-gradient(to bottom right, #FF6D01, #FF0183);
$color-gradient-3: linear-gradient(to right, #11998e, #38ef7d);

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-light: 0 2rem 6rem rgba(0, 0, 0, .06);

$line: 1px solid var(--color-grey-light-2);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest-3: 106.25em; // 1600/16 = 106.25em
$bp-largest-2: 87.5em; // 1400/16 = 87.5em
$bp-largest: 75em; // 1200px/16 = 75em
$bp-large: 62.5em; // 1000px/16 = 62.5em
$bp-medium: 50em; // 800px/16 = 50em
$bp-small: 37.5em; // 600px/16 = 37.5em


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 40%;
    }
}

body {
    background-color: $color-background;
    font-family: $font-primary;
    color: $color-grey-light-1;
    font-weight: 300;
    line-height: 1.6;
    

}

.container {
    display: grid;
    grid-template-rows: 90vh 40vw repeat(4, min-content) 100vh;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

    & > * {
        // padding: 40px;
        font-size: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 90vh 40vw repeat(5, min-content) 100vh;
    }

}