.features {
    // background-color: aqua;
    background: linear-gradient(to bottom right, #FF6D01, #FF0183);
    grid-column: full-start / full-end;

    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);


    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    // grid-template-rows: minmax(min-content, 14rem) minmax(min-content, 14rem);
    grid-template-rows: repeat(2, min-content);

    grid-gap: 5rem;


    padding: 30rem 0 10rem 0;

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: repeat(3, min-content);

        padding: 20rem 0 10rem 0;

    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: repeat(4, min-content);

        padding: 20rem 0 5rem 0;
        grid-gap: 5rem 0;

        clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);


    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 25rem 0 5rem 0;

    }


    &__heading {
        // background-color: #3cb371;

        grid-column: center-start / col-end 4;
        grid-row: 1 / -1;

        // padding: 10rem;
        
        @media only screen and (max-width: $bp-medium) {
            grid-column: center-start / center-end;
            grid-row: 1 / 2;

            text-align: center;
        }

    }

    &__description {
        // background-color: #0000ff;

        grid-column: col-start 5 / center-end;
        grid-row: 1 / 2;

        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            grid-column: center-start / center-end;
            grid-row: 2 / 3;
        }

        &--text {
            color: $color-grey-light-1;
            font-size: 2rem;
        }
        

    }

    &__music {
        // background-color: #6a5acd;

        grid-column: col-start 5 / col-end 6;
        grid-row: 2 / 3;

        text-align: center;

        padding-bottom: 3rem;

        @media only screen and (max-width: $bp-medium) {
            grid-column: center-start / col-end 4;
            grid-row: 3 / 4;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / center-end;
            grid-row: 3 / 4;
        }

        &--icon {
            color: $color-secondary;
            font-size: 6rem;

        }

        &--text {
            color: $color-grey-light-1;
            font-size: 2rem;
        }
    }

    &__whats {
        // background-color: #ee82ee;

        grid-column: col-start 7 / center-end;
        grid-row: 2 / 3;

        text-align: center;

        padding-bottom: 3rem;

        @media only screen and (max-width: $bp-medium) {
            grid-column: col-start 5 / center-end;
            grid-row: 3 / 4;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / center-end;
            grid-row: 4 / 5;
        }

        &--icon {
            color: $color-secondary;
            font-size: 6rem;

        }

        &--text {
            color: $color-grey-light-1;
            font-size: 2rem;
        }

    }
}
