.footer {
    
    &__heading {
        // background-color: aqua;

        grid-column: center-start / center-end;

        text-align: center;

        margin: 10rem 0 4rem 0;

        // display: flex;
        // justify-content: center;
        // align-content: center;

        // align-items: center;
        // justify-items: center;
    }

    &__content {
        background-color: yellow;
        background-color: $color-grey-dark-1;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16,29,44,0.85)), to(rgba(16,29,44,0.85))),url(../img/foot-back.jpg);
        background-image: linear-gradient(rgba(16,29,44,0.85), rgba(16,29,44,0.85)),url(../img/foot-back.jpg);

        grid-column: full-start / full-end;

        background-size: cover;
        background-position: center;

        display: grid;
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
        // grid-template-rows: minmax(min-content, 14rem) minmax(min-content, 14rem);
        grid-template-rows: repeat(3, min-content);
    
        grid-gap: 10rem 5rem;

        justify-content: center;
        align-content: end;

        align-items: center;
        justify-items: center;

        padding-bottom: 3rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-rows: repeat(4, min-content);

        }
    
    
        // padding: 15rem 0;


        &--text-box {
            // background-color: aqua;

            grid-column: center-start / center-end;
            grid-row: 1 / 2;


            display: grid;
            justify-content: center;
            align-content: end;
            align-items: center;
            justify-items: center;
            grid-gap: 2rem;

            // margin: 10rem 0;

            align-self: center;

            margin-bottom: 10rem;
            
            @media only screen and (max-width: $bp-largest-3) {
                margin-bottom: 5rem;
            }

            @media only screen and (max-width: $bp-largest-2) {
                margin-bottom: 0rem;
            }

            @media only screen and (max-width: $bp-largest) {
                margin-bottom: 10rem;
            }

            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 0rem;
    
            }

            // display: flex;
            // justify-content: center;
            // flex-direction: column;
            // align-items: center;

            &--logo {
                width: 10rem;
                color: $color-grey-light-1;

            }
        }

        &--form {
            // background-color: red;

            grid-column: center-start / col-end 3;
            grid-row: 2 / 3;

            color: $color-grey-light-1;

            text-align: center;
            // padding: 5rem;

            // @media only screen and (max-width: $bp-largest) {
            //     padding: 0;
            // }

            @media only screen and (max-width: $bp-medium) {
                grid-column: center-start / center-end;
                grid-row: 2 / 3;
    
            }

            &--heading {
                font-size: 1.8rem;
                letter-spacing: .2rem;
                text-transform: uppercase;
                font-weight: 700;
            }

            &--news {
                display: block;
            }



            &--email {
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: inherit;
                background-color: $color-grey-dark-1;
                padding: 1.5rem 2rem;
                border-radius: 10px;
                border: none;
                border: 3px solid transparent;
                font-weight: 700;

                &--input {
                    padding: 1.5rem 6rem 1.5rem 2rem;
                    &::placeholder {
                        color: $color-secondary;
                    }
                    &:focus
                    {
                        border-color: $color-secondary;
                        color: $color-secondary;
                    }
                }

                &--submit {
                    padding: 1.5rem 4rem;
                    color: $color-grey-dark-1;
                    background-color: $color-secondary;
                    cursor: pointer;
                    margin-top: 1rem;
                }

                &--checkbox-input {

                }

                &--checkbox-label {
                    color: $color-grey-dark-3;
                    font-size: 1.5rem;
                }
            }
        }


        &--social-links {
            // background-color: green;

            grid-column: col-start 4 / col-end 5;
            grid-row: 2 / 3;

            text-align: center;
            // padding: 3rem;

            // @media only screen and (max-width: $bp-largest) {
            //     padding: 0;
            // }

            @media only screen and (max-width: $bp-medium) {
                grid-column: center-start / col-end 4;
                grid-row: 3 / 4;
    
            }

            &--heading {
                font-size: 1.8rem;
                letter-spacing: .2rem;
                text-transform: uppercase;
                font-weight: 700;
                color: $color-grey-light-1;
                
            }

            &--list {
                list-style: none;

                display: grid;
                grid-auto-flow: column;
                justify-content: space-evenly;
                grid-gap: 2rem;

                margin-top: 2rem;


                &--item {

                }
    
                &--link {
                    &:link,
                    &:visited {
                        border: 2px solid $color-grey-light-1;
                        border-radius: 12px;
                        padding: 9px 9px 0px 9px;

                        color: $color-grey-light-1;
                        text-decoration: none;
                        transition: all .2s;
            
                    }
            
                    &:hover,
                    &:active {
                        color: $color-grey-dark-1;
                        border-color: $color-secondary;
                        background-color: $color-secondary;
                    }
                }
    
                &--icon {
                    font-size: 3rem;
                }
            }
        }

        &--map {
            // background-color: pink;

            grid-column: col-start 6 / center-end;
            grid-row: 2 / 3;

            font-size: 1.8rem;
            letter-spacing: .2rem;
            text-transform: uppercase;
            font-weight: 700;

            
            display: grid;
            grid-auto-flow: row;
            justify-content: space-evenly;
            justify-items: center;
            grid-gap: 2rem;
            text-align: center;
            
            // padding: 3rem;

            // @media only screen and (max-width: $bp-largest) {
            //     padding: 0;
            // }

            @media only screen and (max-width: $bp-medium) {
                grid-column: col-start 5 / center-end;
                grid-row: 3 / 4;
    
            }

            &--link {
                &:link,
                &:visited {
                    text-decoration: none;
                    color: $color-secondary;
                    transition: all .2s;
        
                }
        
                &:hover,
                &:active {
                    color: $color-secondary-light;

                }
            }

            &--icon {
                font-size: 5rem;
            }

            &--heading {
                color: $color-grey-light-1;
            }

            &--secondary {
                color: $color-secondary;
            }


        }

        &--copyright {
            // background-color: brown;
            
            grid-column: center-start / center-end;
            grid-row: 3 / 4;

            align-self: end;

            font-size: 1.75rem;

            @media only screen and (max-width: $bp-medium) {
                grid-column: center-start / center-end;
                grid-row: 4 / 5;
    
            }

            &--name {
                color: $color-secondary;
            }

            &--link:link,
            &--link:visited {
                color: inherit;
                text-decoration: none;
                font-family: $font-display;
            }

        }

    }
}