.header {
    background-color: rgba(100, 100, 100, 0.9);
    grid-column: full-start / full-end;
    
    position: relative;

    &__text-box {
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;


        height: 85vh;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        text-align: center;
    }

}

.main-nav {
    list-style: none;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    // grid-gap: 1rem;
    align-items: center;
    justify-items: center;

    max-width: 100rem;
    margin: 0 auto 0;

    &__item {
        width: fit-content;
    }

    &__link:link,
    &__link:visited {
        font-size: 1.6rem;
        font-weight: 400;
        // line-height: 1.5;
        width: fit-content;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        margin: 1.5rem 0;
        display: block;
        position: relative;
        transition: all .2s;
    }

    &__link:after {
        content: '';
        position: absolute;
        width: 0; height: 3px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: #FFFF00;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }

    &__link:hover:after{
        width: 100%;
        left: 0;
        background: #FFFF00;
    }

    &__logo {
        width: 10rem;
        color: #fff;
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    // opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}