.header {
    grid-column: full-start / full-end;
    // background-color: rgba(100, 100, 100, 0.9);
   

    
    position: relative;

    &__text-box {
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;


        height: 75vh;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        text-align: center;
    }

}

// Main Nav

.main-nav {
    list-style: none;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
    // grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;

    max-width: 120rem;
    margin: 0 auto 0;

    @media only screen and (max-width: $bp-largest-3) {
        max-width: 110rem;
    }

    @media only screen and (max-width: $bp-largest-2) {
        max-width: 100rem;
    }

    @media only screen and (max-width: $bp-largest) {
        max-width: 90rem;
    }

    @media only screen and (max-width: $bp-large) {
        max-width: 80rem;
    }

    &__item {
        width: fit-content;
    }

    &__link:link,
    &__link:visited {
        font-size: 1.6rem;
        font-weight: 400;
        // line-height: 1.5;
        width: fit-content;
        color: $color-grey-light-1;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        margin: 1.5rem 0;
        display: block;
        position: relative;
        transition: all .2s;
    }

    &__link:after {
        content: '';
        position: absolute;
        width: 0; height: 3px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: $color-secondary;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }

    &__link:hover:after{
        width: 100%;
        left: 0;
        background: $color-secondary;
    }

    &__logo {
        width: 10rem;
        color: $color-grey-light-1;
    }

    &__link--logo:link,
    &__link--logo:visited {

        width: 10rem;
        height: 8.7rem;
        display: block;
        text-align: center;
        // transition: all .2s;
    }
}

// Sticky Navi

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color: $color-background, $alpha: .75);
    // background-color: aqua;
    // opacity: .75;
    box-shadow: 0 2px 2px $color-grey-dark-1;
    z-index: 9999;

    .main-nav__logo {
        width: 7rem;
    }

    .main-nav__link--logo:link,
    .main-nav__link--logo:visited {

        width: 7rem;
        height: 6.1rem;
    }

}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .50;
    overflow: hidden;


    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;

        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

}