.schedule {
    grid-column: full-start / full-end;

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/back-schedule.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-schedule.jpg);

    background-size: cover;
    color: $color-grey-light-1;
    background-attachment: fixed;
    // height: 200vh;

    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);

    padding: 30rem 0;

    // margin-bottom: 10rem;

    @media only screen and (max-width: $bp-largest-3) {
        margin-top: 10rem;
    }

    @media only screen and (max-width: $bp-largest-2) {
        margin-top: 15rem;
    }

    @media only screen and (max-width: $bp-largest) {
        margin-top: 20rem;
    }


    &__heading {
        // margin-top: 35rem;
        margin-left: 20rem;

        @media only screen and (max-width: $bp-large) {
            margin: 0 auto;
            text-align: center;
        }
    }

    &__table {
        margin-left: 20rem;

        @media only screen and (max-width: $bp-large) {
            margin: 0 auto;
        }


        background: $color-gradient;

        max-width: 70rem;
        padding: 5rem;

        text-align: center;

        // margin-bottom: 35rem;


        &--details {
            width: 50%;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;

            margin-top: 3rem;
            margin-bottom: 3rem;
            padding: 3rem;

            justify-content: space-around;

            font-size: 2.5rem;

            border-bottom: 3px solid $color-grey-light-2;


            ul {
                list-style: none;

    
                li {
                    &:not(:last-child) {
                        border-bottom: 1px solid $color-grey-light-2;
                    }
                }
            }


            &--days {

            }


            &--hours {

            }

        }

        &--text {
            font-size: 2.3rem;

            margin-bottom: 3rem;
        }
    }
    
}