%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading {
    &--animated {
        &--left {
            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;

            // &--slow {
            //     animation-delay: .5s;
            // }
        }

        &--right {
            animation-name: moveInRight;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }

        &--top {
            animation-name: moveInTop;
            animation: moveInTop .5s ease-out;
            animation-fill-mode: backwards;
        }

        &--bottom {
            animation-name: moveInBottom;
            animation: moveInBottom .5s ease-out;
            animation-fill-mode: backwards;
        }
    }
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 2rem;
        line-height: 1.7;

        @media only screen and (max-width: $bp-small) {
            letter-spacing: 1.2rem;
            font-size: 4rem;
    
        }
    }

    &--sub {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 1.3rem;

        @media only screen and (max-width: $bp-small) {
            letter-spacing: .8rem;
            font-size: 2rem;
    
        }
    }

    &--desc {
        color: $color-secondary;
    }

    &--sche {
        text-transform: uppercase;
        letter-spacing: .8rem;
        font-size: 4rem;
        font-weight: 700;
    }

    &--feat {
        color: $color-secondary;
        font-size: 9rem;
        font-weight: 900;
    }

    &--foot {
        background: linear-gradient(to right, #11998e, #38ef7d);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        font-weight: 900;
        letter-spacing: .8rem;
        font-size: 5rem;

        @media only screen and (max-width: $bp-smallest) {
            letter-spacing: .5rem;
            font-size: 3rem;
        }
    }
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }

    &--sche {
        color: $color-secondary;
        text-transform: uppercase;
        letter-spacing: .8rem;
        font-size: 8rem;
        font-weight: 700;
    }

    &--dash {
        line-height: 1rem;
        margin-bottom: 5rem;
    }

    &--foot {
        background: linear-gradient(to right, #11998e, #38ef7d);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        font-weight: 900;
        letter-spacing: .5rem;
        font-size: 2rem;

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1rem;
        }
    }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;

    &--desc {
        // color: $color-secondary;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &--feat {
        color: $color-secondary;
        text-transform: capitalize;
        font-size: 8rem;
        font-weight: 300;
    }

    &--foot {
        color: $color-grey-light-1;
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-weight: 900;
        font-size: 2.5rem;
        
    }

}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }

    &--feat {
        color: $color-secondary;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 400;
    }

    &--music {
        color: $color-secondary;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 400;
    }
}

.btn {
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.8rem 3rem;
    border-radius: .4rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }

    &--dark {
        background-color: $color-primary-dark;
    }

    &--dark:hover {
        background-color: $color-primary-darker;
    }

    &--secondary {
        background-color: $color-secondary;
        color: $color-background;
        font-size: 1.2rem;
        font-weight: 700;
        padding: 1.5rem 2.3rem;
        transition: all .2s;

    }

    &--secondary:hover {
        background-color: $color-secondary-light;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
        /* animation-delay: .75s; */
    }


}

.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}