*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: black;
  font-family: "Nunito", sans-serif;
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh 40vw (min-content)[7];
      grid-template-rows: 100vh 40vw repeat(7, -webkit-min-content);
      grid-template-rows: 100vh 40vw repeat(7, min-content);
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.container > * {
  padding: 40px;
  font-size: 3rem;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #faf9f9;
  line-height: 1;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-1--main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2rem;
  line-height: 1.7;
}

.heading-1--sub {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.3rem;
}

.heading-1--desc {
  color: yellow;
}

.heading-1--sche {
  text-transform: uppercase;
  letter-spacing: .8rem;
  font-size: 4rem;
  font-weight: 700;
}

.heading-1--feat {
  color: yellow;
  font-size: 9rem;
  font-weight: 900;
}

.heading-1--foot {
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: .8rem;
  font-size: 5rem;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-2--light {
  color: #faf9f9;
}

.heading-2--dark {
  color: #333;
}

.heading-2--sche {
  color: yellow;
  text-transform: uppercase;
  letter-spacing: .8rem;
  font-size: 8rem;
  font-weight: 700;
}

.heading-2--dash {
  line-height: 1rem;
  margin-bottom: 5rem;
}

.heading-2--foot {
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: .5rem;
  font-size: 2rem;
}

.heading-3 {
  font-size: 1.6rem;
  color: #eb2f64;
  text-transform: uppercase;
}

.heading-3--desc {
  font-size: 2.5rem;
  font-weight: 700;
}

.heading-3--feat {
  color: yellow;
  text-transform: capitalize;
  font-size: 8rem;
  font-weight: 300;
}

.heading-4 {
  font-size: 1.9rem;
}

.heading-4--light {
  color: #faf9f9;
}

.heading-4--dark {
  color: #333;
}

.heading-4--feat {
  color: yellow;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
}

.heading-4--music {
  color: yellow;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}

.btn {
  background-color: #eb2f64;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 3rem;
  border-radius: .4rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-color: #BA265D;
}

.btn--dark {
  background-color: #BA265D;
}

.btn--dark:hover {
  background-color: #a32453;
}

.btn--secondary {
  background-color: yellow;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5rem 2.3rem;
}

.btn--secondary:hover {
  background-color: yellow;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.header {
  background-color: rgba(100, 100, 100, 0.9);
  grid-column: full-start / full-end;
  position: relative;
}

.header__text-box {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main-nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  max-width: 100rem;
  margin: 0 auto 0;
}

.main-nav__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-nav__link:link, .main-nav__link:visited {
  font-size: 1.6rem;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0;
  display: block;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main-nav__link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #FFFF00;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.main-nav__link:hover:after {
  width: 100%;
  left: 0;
  background: #FFFF00;
}

.main-nav__logo {
  width: 100px;
  color: #fff;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description__content {
  grid-column: center-start / col-end 4;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 2vw;
}

.description__content--text {
  color: #faf9f9;
}

.description__pictures {
  grid-column: col-start 5 / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  padding: 20rem 3vw;
}

.description__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.features {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF6D01), to(#FF0183));
  background: linear-gradient(to bottom right, #FF6D01, #FF0183);
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-gap: 5rem;
  margin-bottom: 15rem;
  padding: 15rem 0;
}

.features__heading {
  grid-column: center-start / col-end 4;
  grid-row: 1 / -1;
}

.features__description {
  grid-column: col-start 5 / center-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  text-align: center;
}

.features__description--text {
  color: #faf9f9;
  font-size: 2rem;
}

.features__music {
  grid-column: col-start 5 / col-end 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  text-align: center;
  padding-bottom: 3rem;
}

.features__music--icon {
  color: yellow;
  font-size: 6rem;
}

.features__music--text {
  color: #faf9f9;
  font-size: 2rem;
}

.features__whats {
  grid-column: col-start 7 / center-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  text-align: center;
  padding-bottom: 3rem;
}

.features__whats--icon {
  color: yellow;
  font-size: 6rem;
}

.features__whats--text {
  color: #faf9f9;
  font-size: 2rem;
}

.schedule {
  grid-column: full-start / full-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/back-schedule.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/back-schedule.jpg);
  background-size: cover;
  color: #faf9f9;
  background-attachment: fixed;
  margin-bottom: 15rem;
}

.schedule__heading {
  margin-top: 15rem;
  margin-left: 20rem;
}

.schedule__table {
  margin-left: 20rem;
  background: -webkit-gradient(linear, left top, right top, from(#ef5241), to(#df2674));
  background: linear-gradient(to right, #ef5241 0%, #df2674 100%);
  max-width: 70rem;
  padding: 5rem;
  text-align: center;
  margin-bottom: 15rem;
}

.schedule__table--details {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2.5rem;
  border-bottom: 3px solid #f4f2f2;
}

.schedule__table--details ul {
  list-style: none;
}

.schedule__table--details ul li:not(:last-child) {
  border-bottom: 1px solid #f4f2f2;
}

.schedule__table--text {
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.gallery {
  background-color: #333;
  grid-column: full-start / full-end;
  margin-bottom: 15rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.gallery__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

.gallery__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / span 3;
}

.gallery__item--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
}

.gallery__item--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.gallery__item--6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.gallery__item--7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
}

.gallery__item--8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
}

.gallery__item--9 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / span 2;
}

.gallery__item--10 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / span 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
}

.gallery__item--11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.gallery__item--12 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
}

.gallery__item--13 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.gallery__item--14 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / span 1;
}

.footer__heading {
  grid-column: center-start / center-end;
  text-align: center;
  margin-bottom: 15rem;
}

.footer__content {
  background-color: yellow;
  grid-column: center-start / center-end;
}
/*# sourceMappingURL=main.css.map */